.slide{
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 200px;
    overflow: auto;
    border-radius:5px;
  }
  .slide h4{
    text-align:center;
    display:flex;
  }